[alias]
    sts = status
    cm = commit -m
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --graph
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate -n 10
    co = checkout
    amn = commit --amend --no-edit
    fo = fetch origin
    po = push origin
    alias = config --get-regexp ^alias\\.\n
[color]
    ui = auto
    branch = auto
    status = auto
[core]
    editor = code --wait
[fetch]
    prune = true
[merge]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "vscode"]
    cmd = code --wait $MERGED
[init]
    defaultBranch = main
