{{ if eq .osid "linux-debian" "linux-ubuntu" -}}
#!/usr/bin/env bash

curl -fSs https://mise.jdx.dev/gpg-key.pub |
  sudo tee /etc/apt/keyrings/mise-archive-keyring.pub 1>/dev/null
echo "deb [signed-by=/etc/apt/keyrings/mise-archive-keyring.pub arch=amd64] https://mise.jdx.dev/deb stable main" |
  sudo tee /etc/apt/sources.list.d/mise.list

sudo apt-get update
sudo apt-get install -y mise
{{ end -}}
