{{ if eq .osid "linux-debian" "linux-ubuntu" "linux-linuxmint" -}}
#!/usr/bin/env bash

set -Eeuo pipefail

{{ $packages := list
"bat"
"bind9-dnsutils"
"build-essential"
"curl"
"eza"
"fd-find"
"git-delta"
"git"
"httpie"
"iputils-ping"
"libnss3-tools"
"net-tools"
"procps"
"ripgrep"
"tmux"
"unzip"
"vim"
"wget"
"xclip"
"xz-utils"
"zip"
"zsh" -}}

{{ if ne .osid "linux-linuxmint" -}}
{{ $packages = concat $packages (list "fzf" "lazygit" "starship") -}}
{{ end -}}

sudo apt-get update
sudo apt-get install -y {{ $packages | join " " }}

{{ end -}}
